body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1, h2 {
    color: #333;
    margin-bottom: 10px;
}

canvas {
    border: 1px solid #333;
    cursor: crosshair;
    background-color: black;
}

.canvas-container {
    margin: 20px 0;
}

.button-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#prediction {
    margin-top: 20px;
    font-size: 18px;
    color: #4CAF50;
    min-height: 30px;
}

input[type="file"] {
    margin: 10px 0;
}

.preview-container img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    display: none; /* Initially hidden */
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
